<ion-view view-title="User">


  <!-- Nav Bar -->
 <!-- Nav Bar -->
  <ion-nav-bar class="bar">
  <ion-nav-back-button>
  </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content ng-init="getUser()">

    <!-- User -->
    <div class="source-user" style="background-color: #4b4b4b;">

      <div class="profile-picture">
        <img style ="width: 5em; border-radius: 5em; margin-top: 2em;" src="{{gravatarURL}}">
      </div>

      <div class="username">{{username}}</div>
      <p class="description">{{description}}</p>

      <button ng-click="followUser()" ng-if="relationship == 'notFollowing'" class="button button-block button follow-button">
        Follow
      </button>
      <button ng-click="unfollowUser()" ng-if="relationship == 'following'" class="button button-block button unfollow-button">
        Unfollow
      </button>

      <div class="row stats">
        <div class="col profile-column"><a href="#">
              <p class="number">{{articleNumber}}</p>
              <p class="label">Articles</p>
              <a>
        </div>
        <div class="col profile-column">
              <a ui-sref="tabs.userFollowers( { userID: user_id} )">
              <p class="number">{{followerNumber}}</p>
              <p class="label">Followers<p>
              <a>
        </div>
        <div class="col profile-column">
              <a ui-sref="tabs.userFollowing( { userID: user_id} )">
              <p class="number">{{followingNumber}}</p>
              <p class="label">Following</p>
              </a>
        </div>
      </div>
    </div>


    <!-- Article Feed -->
    <div class="list" ng-init="getUserFeed()">
      <a ng-repeat="articles in articles"  ui-sref="tabs.readerHome( { articleID: articles._id} )" class="item item-thumbnail-left">
        <img src="{{articles.imageUrl}}">
        <h2>{{ articles.title }}</h2>
      </a>
    </div>




  </ion-content>



</ion-view>
