<ion-view class="home">
    <!-- Nav Bar -->
    <ion-header-bar class="nav">
        <h1 class="title">S O U R C E</h1>
        <div class="buttons">
            <i ui-sref="saved" class="icon ion-ios-bookmarks-outline menu-icon-right"></i>
        </div>
    </ion-header-bar>

    <ion-content class="has-header" scroll-event-interval="5" >
        <!-- Refresher -->
        <ion-refresher pulling-text="Refreshing . . ." on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list">


            <div class="list card article-card" ng-repeat="article in articles">


              <a class="text-decoration-none" href="#/tab/user/{{article._userID}}">
                <div class="item item-avatar" style="border-radius: 0px;">
                  <img src="{{article.gravatarURL}}">
                  <h2 class="username">{{article.username}}</h2>
                  <p class="date">{{ article.created | date : 'shortTime' : timezone}}</p>
                </div>
              </a>


              <!-- Image -->
              <a ui-sref="tabs.readerHome( { articleID: article._id} )">
                <img class="full-image" src="{{article.imageUrl}}">
              </a>


              <!-- Title -->
              <div class="item item-body border-bottom-grey" style="border-top: 0px;">
                <a class="text-decoration-none" ui-sref="tabs.readerHome( { articleID: article._id} )">
                  <h2 class="title" style="margin-top:0px;">{{article.title}}</h2>
                </a>
                <p class="url">{{article.shortUrl}}</p>
              </div>

              <!-- URL -->
              <!-- <div class="item-body border-bottom-grey">
                <p class="url">{{article.shortUrl}}</p>
              </div> -->

              <!-- Summary -->
              <div ng-hide="!article.summary" class="item-body border-bottom-grey">
                <p class="summary">
                  {{article.summary}}
                </p>
              </div>

              <!-- Like Save -->
              <div class="item-body">
                <p class="social-buttons">
                  <!-- Keep this for reference to the old way -->
                  <!-- <button class="button icon-left ion-ios-heart-outline button-clear padding-left-none" ng-click="likeArticle(article)" ng-show="article.isLikedByUser == false">Like</button>
                  <span class="like-button"><button class="button icon-left ion-ios-heart button-clear padding-left-none heart-pink" ng-click="unlikeArticle(article)" ng-show="article.isLikedByUser == true">Unlike</button></span> -->
                  <a ng-click="likeArticle(article)" ng-show="article.isLikedByUser == false" class="subdued">Like</a>
                  <a ng-click="unlikeArticle(article)" ng-show="article.isLikedByUser == true">Unlike</a>

                  <a ng-click="saveForLater(article._id)" ng-if="article.isSavedByUser == false" class="subdued">Save</a>
                  <a ng-click="deleteSaved(article._id)" ng-if="article.isSavedByUser == true">Remove</a>

                </p>
              </div>




            </div>






        </div>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>

</ion-view>
