<ion-view view-title="Notifications" class="notifications">

  <!-- Nav Bar -->
  <ion-nav-bar class="bar top-shadow">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>


  <ion-content ng-init="getNotifications()">

      <div class="list" style="margin-bottom:-1px;" ng-repeat="notifications in notifications">

        <a ng-show="{{notifications.type=='liked your post'}}" ui-sref="tabs.readerNotificaitons( { articleID: notifications.associated_article} )" class="item item-icon-left">
          <i style="color: #5D7BB4" class="icon ion-ios-heart"></i>
          <p style=" margin-top: 15px;float: left;"><span style="    font-weight: 700;

              margin-bottom: 0px;">{{notifications.doer_username}}</span> {{notifications.type}}</p>
          <img style="position: relative;max-width: 80px;float: right;"src="{{notifications.imageUrl}}">
        </a>

        <a ng-show="{{notifications.type=='is now following you'}}"  ui-sref="tabs.userNotificaitons( { userID: notifications.doer_id} )" class="item item-icon-left">
          <i style="color: #5D7BB4" class="icon ion-ios-person"></i>
          <p><span style="    font-weight: 700;
              margin-bottom: 0px;">{{notifications.doer_username}}</span> {{notifications.type}}</p>
        </a>
      </div>


    </div>



    <!-- <ion-list ng-init="getNotifications()">
      <ion-item style="top: -1px;" ng-repeat="notifications in notifications">

        <div ng-show="{{notifications.type=='liked your post'}}">
          <a ui-sref="tabs.readerNotificaitons( { articleID: notifications.associated_article} )" class="item-thumbnail-right text-decoration-none">
            <img src="{{notifications.imageUrl}}">
            <div class="liked-post">
              <p>{{notifications.doer_username}} {{notifications.type}}</p>
              <p>{{ notifications.created | date : 'short' : timezone}}</p>
            </div>
          </a>
        </div>

        <div ng-show="{{notifications.type=='is now following you'}}">
          <a ui-sref="tabs.userNotificaitons( { userID: notifications.doer_id} )" class="item-thumbnail-right text-decoration-none">
            <p>{{notifications.doer_username}} {{notifications.type}}</p>
            <p>{{ notifications.created | date : 'short' : timezone}}</p>
          </a>
        </div>

      </ion-item>
    </ion-list> -->




  </ion-content>
</ion-view>
