// =================================================================
//  # COLORS
//  ================================================================

.source-green {
  opacity: 0.95;
  background-image: linear-gradient(45deg, #4BCEB1 0%, #62EA70 100%);
}

.white {
  color: #fff!important;
}



// Colors
$white:  #ffffff;
$source-gray:   #4B4B4B;
  // background-image: linear-gradient(45deg, #4BCEB1 0%, #62EA70 100%);
