


// =================================================================
//  # SOURCE
//  ================================================================


.tabs-light > .tabs {
  background: $source-gray;;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.30);
  padding-top: 0;
}



.bar .title {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.bar .button.back-button {
  font-size: 13px;
  i {

  }
}


  // =================================================================
  //  # Article Lists
  //  ================================================================

  .item-thumbnail-left > img:first-child {
    top: 0px;
    left: 0px;
    max-width: 104px;
    max-height: 80px;
    width: 100%;
    height: 100%;
  }

  .item-thumbnail-left {
    padding-left: 113px;
    min-height: 65px;
    max-height: 65px;
  }

  .item h2 {
    white-space: normal;
      font-size: 0.8em;
  }



  // =================================================================
  //  # Tab Bar
  //  ================================================================


  @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .tabs {
      padding-top: 0px!important;
      border-top: 0px solid #D8D8D8!important;
    }
  }



  .add-button {
    background-color: #fff;
    border-top: #f2f2f2 solid;
  }

  .active-tab {
    background-color: #EFEFEF;
    color: #64E387!important;
  }

  .tab-item .icon {
    margin: 0px auto;
    padding: 7px 0;
    height: 100%;
    color: $source-gray;
    margin-top: 1px;
  }

  .tabs-top > .tabs {
      left: 0px;
  }




.tabs-top.tabs-striped .tab-item {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  font-size: .75em;

}

  // explore tab bar
  .tabs-top.tabs-striped .tab-item.active {
    margin-top: 1px;
    border-width: 0px 0px 5px 0px !important;
    border-style: solid;
    border-color: #64E387;

  }

.tab-item.activated {
  border-color: #64E387 !important;
}

.bar.bar-positive {
  border-color: #0c63ee;
  background-color: #387ef5;
  color: #fff;
}

// Transparent scroll bar
.sticky-header {
  background-color: rgba(255,255,255,.66) !important; /* or transparent, or background:none */
}
.scroll-content {
  overflow: visible !important;
}


.mynavbar{
  height: 200px !important;
}






// =================================================================
//  #FOLLOWING
//  ================================================================

.followers-following {
    line-height: 3!important;
}






// =================================================================
//  # Explore
//  ================================================================

.article-list {
  .item h2 {
    font-size: 0.8em;
  }
  .url {
    font-size: .8em;
  }
}
