// =================================================================
//  # Profile
//  ================================================================



.profile {
  .tabs-top.tabs-striped .tab-item {
    // font-size: .5em;
  }
  .ff {
    padding-top: 0px;
    padding-bottom: 5px;
    border-color: #fff;
    a {
      color: #565656;
    }
    .stat {
      font-size: 22px;
      font-weight: 800;
      font-size: 1.2em;
      margin-right: 4px;
    }
    .label {
      color: #565656;
      letter-spacing: 1.35px;
      font-size: 1em;
      text-transform: uppercase;
      margin-right: 10px;
    }
  }


  h2 {
    max-height: 29px;
  }

  .board-id {
    float: right;
    background-color: #fff;
    font-size: 0.7em;
    border: 1px solid #979797;
    padding: 0px 7px;
    border-radius: 1em;
    position: relative;
    top: -11px;
    color: #979797;
  }


  .profile--banner {
    background-color: $white;
    z-index: 6;
    position: absolute;
    color: $source-gray;
    top: 54px;
    width: 100%;
    left: -2px;
    .username {}
    .description {}
  }

}
